html {
  height: 100%;
  background: black;
}

body {
  height: inherit;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.events:has(> .event) {
  position: absolute;
  inset: 20%;
  background-color: color-mix(in oklch, aquamarine 60%, transparent);
  padding: 20px;
  border-radius: 20px;
  color: black;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  display: none;
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
