@layer reset, vos;

@font-face {
    font-family: TheSans;
    font-weight: 400;
    src: url(./fonts/TheSansB4-5_Plain.woff2) format("woff2"),url(./fonts/TheSansB4-5_Plain.woff) format("woff")
}

@font-face {
    font-family: TheSans;
    font-weight: 700;
    src: url(./fonts/TheSansB4-7_Bold.woff2) format("woff2"),url(./fonts/TheSansB4-7_Bold.woff) format("woff")
}

@font-face {
    font-family: TheSans;
    font-style: italic;
    font-weight: 400;
    src: url(./fonts/TheSansB4-5iPlainItalic.woff2) format("woff2"),url(./fonts/TheSansB4-5iPlainItalic.woff) format("woff")
}

@font-face {
    font-family: TheMix;
    font-weight: 700;
    src: url(./fonts/TheMixB4-7_Bold.woff2) format("woff2"),url(./fonts/TheMixB4-7_Bold.woff) format("woff")
}

@layer vos {
  :root {
    --font-family-base: TheSans,Helvetica,Arial,sans-serif;
    --font-family-base-line-height: 1.6;
    --font-family-heading: TheMix,Helvetica,Arial,sans-serif;
    --font-family-heading-line-height: 1.1;
    --font-family-code: monospace;
    --body-max-width: 75ch;
    --background-color: color-mix(in oklch, white 75%, transparent);
    --icon-angle-right:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="m10.642 17.736 5.099-5.099a.897.897 0 0 0-.004-1.274l-5.098-5.099a.896.896 0 0 0-1.271 0l-.844.855a.896.896 0 0 0 0 1.27l3.614 3.615-3.614 3.614a.896.896 0 0 0 0 1.27l.848.848a.896.896 0 0 0 1.27 0"/></svg>');
    --icon-angle-left:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="m14.637 17.736.847-.851a.896.896 0 0 0 0-1.271L11.87 12l3.61-3.618a.896.896 0 0 0 0-1.27l-.847-.848a.896.896 0 0 0-1.27 0l-5.1 5.099a.897.897 0 0 0 .005 1.274l5.098 5.099a.896.896 0 0 0 1.27 0Z"/></svg>')
  }
  
  body {
    background: black;
    height: 100svh;
    width: 100vw;
    overflow-x: clip;
    display: grid;
  	grid-template-areas: 
      "header header header"
      "main main main";
  	grid-template-rows: min-content 1fr;

    & > *:not(img, canvas, .add-button) {
      padding: 1rem;
    }
  }

  main {
    grid-area: main;
    overflow-y: auto;
    overflow-x: clip;
    display: grid;
    place-content: safe center;
  }

  header {
    background-color: var(--background-color);
    grid-area: header;
    text-align: center;
    color: black;
    font-size: clamp(2rem, 1rem + 5vw, 3rem);
  }

  h1 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
  }

  .events:has(> .event) {
    background-color: var(--background-color);
    border-radius: 20px;
    color: black;
  }

  .event {
    margin: .3em;
  }

  .result {
    font-weight: 700;
    font-size:clamp(2.5rem, 1rem + 7.5vw, 4rem);
  }

  main .event {
    max-width:25ch;
    font-size:clamp(2.5rem, 1rem + 7.5vw, 4rem);
  }

  .datum {
    text-wrap: nowrap;
  }

  button {
    border: 1px solid transparent;
    border-radius: 12px;
    padding-inline: .25em;
    cursor: pointer;
  }
  
  .add-button {
    font-size: 1.25rem;
    padding-block: .125em;
    background-color: white;
    color: black;
    border-color: currentColor;
    position: absolute;
    width: max(80px, 12%);
    top: 1px;
    right: 1px;
    display: none;
  }
  
  footer {
    grid-area: main;
    position: fixed;
    inset: auto 0 0 0;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
  }
  
  .changedate {
    background-color: var(--background-color);
    color: black;
    font-size: clamp(1.75rem, 1rem + 3.75vw, 2.5rem);
    display: flex;
    padding-block: .125em;
    justify-content: space-between;
    align-items: center;
    gap: .125em;

    &.vorige {
      padding-right: .5em;
    }
    
    &.volgende {
      flex-direction: row-reverse;
      padding-left: .5em;
    }
  }

 .changedate::before {
    content: '';
    display: block;
    position: relative;
    font-size: inherit;
    height: 1.6em;
    width: 1.6em;
    mask: var(--icon-angle-left) center center / cover no-repeat;
    background-color: currentColor;
 }

 .volgende::before {
    mask: var(--icon-angle-right) center center / cover no-repeat;
 }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    font-family: var(--font-family-base);
    color-scheme: light dark;
    interpolate-size: allow-keywords;
  }

  body {
    margin: 0;
    min-height: 100svh;
    line-height: var(--font-family-base-line-height);
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: var(--font-family-heading-line-height);
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  textarea:not([rows]) {
    min-height: 10em;
  }

  :is(ul, ol)[class] {
    list-style: "";
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    font-family: var(--font-family-heading);
  }

  p,
  li,
  figcaption {
    max-width: var(--body-max-width);
    text-wrap: pretty;
  }

  code {
    font-family: var(--font-family-code);
  }

  :first-child {
    margin-block-start: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  td,
  math,
  time[datetime*=":"] {
    font-variant-numeric: tabular-nums lining-nums;
  }

  table {
    border-collapse: collapse;
  }

  :target {
    scroll-margin-block: 2rem;
    scroll-margin-block: 5rlh;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}
